<nav id="navbar" class="nik-navbar nik-navbar-expand-lg">
    <button id="navbarToggler" class="nik-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="collapse nik-navbar-collapse" id="navbarSupportedContent">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
